services:
  auth.web:
    image: ${DOCKER_REGISTRY-}authweb
    build:
      context: .
      dockerfile: Auth/Auth.Web/Dockerfile
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
      - REDIS__CONNECTION=redis:6379,password=devredispassword,defaultDatabase=0
      - DOCKER_PRIVATE_NETWORK_SUBNET=172.20.0.0/16
    ports:
      - "8080"
    networks:
      - private    
    depends_on:
      - redis

  res.web:
    image: ${DOCKER_REGISTRY-}resweb
    build:
      context: .
      dockerfile: Res/Res.Web/Dockerfile
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
      - DOCKER_PRIVATE_NETWORK_SUBNET=172.20.0.0/16
    ports:
      - "8080"
    networks:
      - private                  

   # Pre-built Next.js development service
  frontend:
    image: cloudhatch/frontend-prod:latest
    restart: unless-stopped
    networks:
      - private

  reverse-proxy:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "5100:5100"
      - "443:443"
    networks:
      - default                  # egress to Internet (OCSP/ACME/etc.)
      - private                  # reach the private app
    depends_on:
      - auth.web
      - res.web
      - users.web
      - frontend

  redis:
    image: redis:7
    command: [ "redis-server", "--appendonly", "yes", "--requirepass", "devredispassword" ]
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "devredispassword", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - private
  
volumes:
  redisdata: { }
     
networks:
  private:
    internal: true
    ipam:
      config:
        - subnet: 172.20.0.0/16